#include <mime/mime_details.hpp>

namespace mime {
	namespace details {
		const int32 default_ext_to_types_size{ {{ types | length }} };
		const int default_ext_to_types[] = {
		{% for row in extensions | batch(15) -%}
		{%+ for item in row -%} {{item.type}}, {% endfor %}
		{% endfor %}};
	}    // namespace details
}    // namespace mime
